<!DOCTYPE html>   
<html>  
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<head> 
<body>   
 <div class="container">   
    <h1>Product List</h1>   
     
      <div>   
        <%= link_to 'Add Product', new_product_path %>   
      </div>   
      <br>   
    <table border="2" class="table table-striped">   
      <thead>   
      <tr>   
        <th>Name</th>   
        <th>Price</th>   
        <th>Description</th>   
        <th>Actions</th>   
      </tr>   
      </thead>   
      <tbody>   
      <% @products.each do |product| %>   
          <tr>   
            <td><%= product.name %></td>   
            <td><%= product.price %></td>   
            <td><%= truncate(product.short_description, :length => 75) %></td>   
               <div>   
               <td>   
                <%= link_to 'Show', product_path(product) %>  
                <%= link_to 'Edit', edit_product_path(product) %>
                <%= link_to 'Delete', product_path(product), method: :delete %>
              </div>   
            </td>   
          </tr>   
      <% end %>   
      </tbody>   
    </table>   
    </div>   
  </body>   
</html>  